.product-card {
    .container{
        background: $contrast_color;
    }
    .stock-article {
        &__top {
            position: relative;
            display: flex;
            .arrow {
                position: absolute;
                top: calc(50% - 0.5 * Min(52.5px, Max(30px, 0.75 * 5vw)));
                width: 5vw;
                min-width: 40px;
                max-width: 70px;
                height: calc(0.75 * 5vw);
                min-height: 30px;
                max-height: 52.5px;
                cursor: pointer;
                // border: 1px solid red;
                &_prev {
                    background: url('../img/svg/arr-left-black.svg') 100% center/ 66% no-repeat;
                    left: calc( -1 * Max(40px, 5vw));
                }
                &_next {
                    background: url('../img/svg/arr-right-black.svg') 0% center/ 66% no-repeat;
                    right: calc( -1 * Max(40px, 5vw));
                }
            }
            .col-pics {
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // border: 1px solid red;
                img {
                    width: 50%;
                    object-fit: contain;
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0 0 0 2px $grey_color;
                    }
                }
            }
            .main-pic {
                // width: 42%;
                width: calc(0.42 * 90vw);
                max-width: calc (0.42 * 1180px);
                height: calc(0.57 * 90vw);
                max-height: calc(0.57 * 1180px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // border: 1px solid red;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    // border: 1px solid green;
                }
            }
            .col-info {
                width: 33%;
                //border: 1px solid red;
                &__title {
                    display: flex;
                    align-items: center;
                    margin: 2em 0;
                    font-size: adaptive_fz(16px, 10px);
                    font-weight: 700;
                    // border: 1px solid red;
                    .title__article {
                        margin-right: 2em;
                        line-height: calc(2.5 * adaptive_fz(12px, 8px));
                        text-transform: uppercase;
                    }
                    .title__sale {
                        padding: 0 1em;
                        font-size: adaptive_fz(12px, 8px);
                        line-height: 2.5em;
                        color: $contrast_color;
                        background-color: #c61d24;
                    }
                }
                &__table {
                    width: 100%;
                    margin-bottom: 2.3em;
                    font-size: adaptive_fz(12px, 8px);
                    font-weight: 400;
                    line-height: 1.7em;
                    // border: 1px solid blue;
                    tr {
                        td:first-child {
                            color: $grey_color_dark;
                            text-transform: uppercase;                        }
                        td:last-child {
                            font-weight: 700;
                        }
                    }
                }
                &__colors {
                    margin-bottom: 5.5em;
                    font-size: adaptive_fz(12px, 9px);
                    font-weight: 400;
                    .colors__title {
                        margin-bottom: 1em;
                        color: $grey_color_dark;
                        // border: 1px solid red;
                    }
                    .colors__list {
                        display: flex;
                        // border: 1px solid red;
                        .colors__color {
                            position: relative;
                            width: 26px;
                            height: 26px;
                            border: 2px solid $contrast_color;
                            box-shadow: 0 0 0 2px $grey_color;
                            cursor: pointer;
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                            &.active::before,
                            &.active::after {
                                position: absolute;
                                right: -4px;
                                bottom: -4px;
                                display: block;
                                content: '';
                                width: 11px;
                                height: 11px;
                                background: $main_color;
                            }
                            &.active::after {
                                background: url('../img/svg/tick.svg') center/ 80% no-repeat;
                            }
                        }
                    }
                }
                &__price-old {
                    font-size: adaptive_fz(14px, 9px);
                    color: $grey_color_light;
                    // border: 1px solid red;
                    &.invisible {
                        visibility: hidden;
                    }
                    span {
                        margin-right: 0.1em;
                        font-size: adaptive_fz(25px, 14px);
                        font-weight: 600;
                        text-decoration: line-through;
                    }
                }
                &__price-active {
                    margin-bottom: 0.3em;
                    font-size: adaptive_fz(30px, 16px);
                    // border: 1px solid green;
                    span {
                        margin-right: 0.1em;
                        font-size: adaptive_fz(80px, 20px);
                        font-weight: 700;
                        line-height: 1.5em;
                    }
                }
                &__btn {
                    display: inline-flex;
                    padding: 0 2em;
                    border: 1px solid $main_color;
                    font-size: adaptive_fz(12px, 8px);
                    font-weight: 700;
                    line-height: 3.33em;
                    cursor: pointer;
                    svg {
                        width: 1.5em;
                        height: 3.33em;
                        margin-right: 2em;
                        stroke: $main_color
                        // border: 1px solid green;
                    }
                    &:hover {
                        color: $contrast_color;
                        background: $main_color;
                        svg {
                            stroke: $contrast_color;
                        }
                    }
                    // span {}
                }
            }
            @media  screen and (max-width: 370px) {
                .col-info {
                    &__colors {
                        .colors__list {
                            .colors__color {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    &__btn {
                        line-height: 2.66em;
                        svg {
                            height: 2.66em;  
                        }
                    }
                }
            }
            @media screen and (max-width: 767px) {
                flex-direction: column-reverse;
                .arrow {
                    top:100%;
                    &_prev {
                        left: 0;
                        background-position: 0% center;
                    }
                    &_next {
                        right: 0;
                        background-position: 100% center;
                    }
                }
                .col-pics {
                    width: 100%;
                    flex-direction: row;
                    img {
                        width: 33%;
                        height: calc(1.36 * 0.33 * (100vw - 5px));
                    }
                }
                .main-pic {
                    width: 100%;
                    height: calc(1.36 * (100vw - 5px));
                }
                .col-info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .adaptive-wrapper01 {
                        width: 66%;                        
                        //.col-info__table {// margin-bottom: 0;// 2.3em;}
                        .col-info__colors {
                            display: flex;
                            align-items: center;
                            margin-bottom: 0;
                            .colors__title {
                                padding-left: 0.15em;
                                width: 50%;
                            }
                            .colors__list {
                                width: 50%;
                                padding-left: 1.15em;
                            }
                        }
                    }
                    .adaptive-wrapper02 {
                        width: 33%;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;                        
                        .col-info__btn {
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
        &__bottom {
            text-align: center;
            // border: 1px solid green;
            .sizes-available {
                display: flex;
                justify-content: center;
                margin: 2.5em 0 1em;
                font-size: adaptive_fz(20px, 13px); // no adaptive fz!
                font-weight: 300;
                list-style-type: none;
                // border: 1px solid red;
                li {
                    width: 2em;
                    height: 2em;
                    line-height: 2em;
                    cursor: pointer;
                    border: 1px solid transparent;
                    // border: 1px solid red;
                    &:not(:last-child) {
                        margin-right: 0.75em;
                    }
                    &.active {
                        border: 1px solid $grey_color_light;
                    }
                    &.notInStock {
                        text-decoration: line-through;
                        color: $grey_color_light;
                    }  
                }    
            }
            .sizes-table-btn {
                display: inline-flex;
                margin-bottom: 8em;
                font-size: adaptive_fz(12px, 9px); // no adaptive fz!
                font-weight: 300;
                line-height: 1.5em;
                text-transform: uppercase;
                cursor: pointer;
                // border: 1px solid green;
                svg {
                    width: 1.67em;
                    height: 1.25em;
                    margin-right: 0.5em;
                    stroke: $main_color;
                }
                &:hover svg {
                    stroke: $attention_color;
                }
                // span {}
            }
        }
        @media screen and (max-width: 575px) {
            width: 90%;
            margin: 0 auto;
        }
    }
    .goods-offer {
        @include popular-products;
    }
    .sizes-modal {
        position: fixed;
        top: -125vh;
        left: 0;
        z-index: 10;
        transform: rotate3d(1, 1, 0, 90deg);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 1s 0.125s ease;
        &.active {
            top: 0;
            transform: rotate3d(1, 1, 0, 0deg);
        }
        &__wrapper {
            position: relative;
            width: 45vw;
            max-width: calc(0.45 * 1180px);
            padding: 2.5em Min(calc(0.15 * 45vw), calc(0.15 * 1180px));
            font-size: adaptive_fz(14px, 9px);
            font-weight: 400;
            background-color: $contrast_color;
            @media screen and (max-width: 767px) {
                width: 75vw;
            }
        }
        &__btn {
            position: absolute;
            top: calc(0.05 * 40vw);
            right: calc(0.05 * 40vw);
            width: 16px;
            height: 16px;
            background: url('../img/svg/cross.svg') center/ contain no-repeat;
            cursor: pointer;
        }
        &__table {
            width: 100%;
            margin-bottom: 2em;
            border-spacing: 0;
            caption {
                margin-bottom: 1.2em;
                font-size: adaptive_fz(25px, 12px);
                font-weight: 700;
                text-transform: uppercase;
            }
            tbody tr:first-child {
                visibility: hidden;
            }
            tr {
                line-height: 2em;
                text-transform: uppercase;
                text-align: center;
                th,
                td {
                    border-bottom: 1px solid $grey_color;
                }
                th:last-child,
                td:last-child {
                    width: 50%;
                }
            }
        }
        &__text {
            font-size: adaptive_fz(11px, 8px);
            line-height: 1.3em;
            color: $grey_color_dark;
            text-align: center;
        }
    }
    //.added-modal{}
}