@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), 
        url('../fonts/Poppins-Light.woff') format('woff'), 
        url('../fonts/Poppins-Light.ttf') format('truetype'), 
        url('../fonts/Poppins-Light.svg') format('svg'),
        url('../fonts/Poppins-Light.eot') ormat('eot'),
        url('../fonts/Poppins-Light.otf') ormat('otf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), 
        url('../fonts/Poppins-Regular.woff') format('woff'), 
        url('../fonts/Poppins-Regular.ttf') format('truetype'), 
        url('../fonts/Poppins-Regular.svg') format('svg'),
        url('../fonts/Poppins-Regular.eot') format('eot'),
        url('../fonts/Poppins-Regular.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), 
        url('../fonts/Poppins-Medium.woff') format('woff'), 
        url('../fonts/Poppins-Medium.ttf') format('truetype'), 
        url('../fonts/Poppins-Medium.svg') format('svg'),
        url('../fonts/Poppins-Medium.eot') format('eot'),
        url('../fonts/Poppins-Medium.otf') format('otf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), 
        url('../fonts/Poppins-SemiBold.woff') format('woff'), 
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'), 
        url('../fonts/Poppins-SemiBold.svg') format('svg'),
        url('../fonts/Poppins-SemiBold.eot') format('eot'),
        url('../fonts/Poppins-SemiBold.otf') format('otf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: local('Poppins'), 
        url('../fonts/Poppins-Bold.woff') format('woff'), 
        url('../fonts/Poppins-Bold.ttf') format('truetype'), 
        url('../fonts/Poppins-Bold.svg') format('svg'),
        url('../fonts/Poppins-Bold.eot') format('eot'),
        url('../fonts/Poppins-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans Caption';
	src: local('PT Sans Caption'), 
        url('../fonts/PTSansCaption-Bold.woff') format('woff'), 
        url('../fonts/PTSansCaption-Bold.ttf') format('truetype'), 
        url('../fonts/PTSansCaption-Bold.svg') format('svg'),
        url('../fonts/PTSansCaption-Bold.eot') format('eot'),
        url('../fonts/PTSansCaption-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto'), 
        url('../fonts/Roboto-Bold.woff') format('woff'), 
        url('../fonts/Roboto-Bold.ttf') format('truetype'), 
        url('../fonts/Roboto-Bold.svg') format('svg'),
        url('../fonts/Roboto-Bold.eot') format('eot'),
        url('../fonts/Roboto-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
