$main_color: #000000;
$attention_color: #ee1c25;
$contrast_color: #ffffff;
$text_color: #c4c4c4;
$text_color_dark: #6d6d6d;
$text_color_light: #c0c0c0;
$product_bg: #f0f0f0;
$background: #ffffff;
$foreground: #ffffff;
$divider_color: #c4c4c4;
$cuccess_color: #2DA04E;
