<section id="catalog-dynamic" class="catalog">
    <div class="container">
        <h2 class="catalog__title">{{filters_selected.category}}</h2>

        <div class="catalog__filters filters">

            <div class="filter filter_sort">
                <div class="filter__title"><span>СОРТИРОВАТЬ ПО</span></div>
                <div class="filter__body">
                    <ul class="filter__list">
                        <li v-for="sort_option in filters.sort_options" @click="selectSortOption(sort_option)"
                            :class="{active: isSelectedSortOption(sort_option)}" class="filter__option">
                            {{sort_option}}
                        </li>
                    </ul>
                    <div @click="applySelectedSortOption()" class="filter__btn">СОРТИРОВАТЬ</div>
                </div>
            </div>

            <div class="filter filter_size">
                <div class="filter__title"><span>РАЗМЕР</span></div>
                <div class="filter__body">
                    <ul class="filter__list">
                        <li v-for="size in filters.sizes" @click="selectSizes(size)"
                            :class="{active: isSelectedSize(size)}" class="filter__option">
                            <span class="size-checkbox">{{size}}</span>
                        </li>
                    </ul>
                    <div @click="applySelectedSize()" class="filter__btn">ПРИМЕНИТЬ</div>
                </div>
            </div>

            <div class="filter filter_color">
                <div class="filter__title"><span>ЦВЕТА</span></div>
                <div class="filter__body">
                    <ul class="filter__list">
                        <li v-for="color in filters.colors" @click="selectColors(color)"
                            :class="{active: isSelectedColor(color)}" class="filter__option">
                            <span class="color-checkbox" :style="{backgroundColor: color.color_code}"></span>
                            <span class="color-name">{{color.color_name}}</span>
                        </li>
                    </ul>
                    <div @click="applySelectedColor()" class="filter__btn">ПРИМЕНИТЬ</div>
                </div>
            </div>

            <div class="filter filter_category">
                <div class="filter__title"><span>ВИД ОБУВИ</spa>
                </div>
                <div class="filter__body">
                    <ul class="filter__list">
                        <li v-for="category in filters.categories" @click="selectCategory(category)"
                            :class="{active: isSelectedCategory(category)}" class="filter__option">
                            {{category}}
                        </li>
                    </ul>
                    <div @click="applySelectedCategory()" class="filter__btn">ПРИМЕНИТЬ</div>
                </div>
            </div>

        </div>
        <div v-show="!isCatalogToShowItems" class="catalog__notice">Товаров с такими параметрами не обнаружено</div>
        <div class="catalog__table">
            <div v-for="item in catalogToShowItems" class="catalog__product product">
                <div v-show="isOnSale(item)" class="product__label">SALE</div>
                <div class="product__pic">
                    <img :src="item.pics[0]" alt="product picture">
                </div>
                <div class="product__specs">
                    <div class="product__article">{{item.article_num}}</div>
                    <div class="product__price">{{activePrice(item)}} <span>грн</span></div>
                </div>
            </div>
        </div>
</section>