.start-page {
    position: relative;
    z-index: 1;
    .wrapper-slider {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100vw;
        max-height: 100vh;
        margin-bottom: adaptive_fz(60px, 20px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    .slider {
        @include slider_fix;
        position: relative;
        justify-content: space-evenly;
        .slick-arrow {
            position: absolute;
            top: calc(50% - 0.5 * Min(52.5px, Max(30px, 0.75 * 5vw)));
            z-index: 5;
            display: block;
            width: 5vw;
            min-width: 40px;
            max-width: 70px;
            height: calc(0.75 * 5vw);
            min-height: 30px;
            max-height: 52.5px;
            border: none;
            background-color: rgba(255, 255, 255, 0.3);            font-size: 0;
            font-size: 0;
            cursor: pointer;
            &::before {
             content: '';
             display: block;
             width: 100%;
             height: 100%;
            }
            &.slick-prev {
                left: 3vw;
                &::before {
                    background: url('../img/svg/arr-left.svg') center/ 66% no-repeat;
                }
            }
            &.slick-next {
                right: 3vw;
                &::before {
                    background: url('../img/svg/arr-right.svg') center/ 66% no-repeat;
                }
            }
        }
        .slick-track {
            display: flex;
        }
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25em;
            width: 100vw;
            font-family: 'PT Sans Caption', sans-serif;
            font-size: adaptive_fz(30px, 10px);
            font-weight: 700;
            color: $contrast_color;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &.item_first {
                background-image: url('../img/img-slider01.jpg');
            }
            &.item_second {
                background-image: url('../img/img-slider02.jpg');                
            }
            &__content {
                .item__logo {
                    margin-bottom: 3.25em;
                    display: block;
                    width: 19.25em;
                }
                //.item__moto {}
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 7px;
            left: calc(50% - 0.5 * 29px);
            display: flex;
            font-size: 0;
            li {
                &:not(:last-child) {
                    margin-right: 15px;
                }
                button {
                    width: 7px;
                    height: 7px;
                    border: none;
                    border-radius: 50%;
                    background-color: $contrast_color;
                }
                &.slick-active button {
                    background-color: $grey_color_dark;
                }
            }
        }
    }
    .container {
        position: relative;
        z-index: 20;
        background: $contrast_color; // !dont touch!
        .parallax-wrapper {
            position: sticky;
            top: 0;
            max-height: 100vh; // !dont touch!
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0;
            }
        }
        .parallax-container {
            position: relative;
            background: $contrast_color;
        }
        >.parallax-container {
            z-index: 3;            
            >.parallax-container {
                z-index: 4;
                >.parallax-container {
                    z-index: 5;
                    >.parallax-container {
                        z-index: 6;
                    }
                }
            }
        }
    }
    .baner-winter {
        display: flex;
        font-size: adaptive_fz(20px, 12px);
        font-weight: 700;
        .pic {
            width: 35%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 65%;
            padding: 3.5vw 5vw; // 50px 70px
            background-color: #f5f5f5;;
            &__title {
                font-size: adaptive_fz(20px, 12px);
            }
            &__article {
                margin-bottom: 2em;
                font-size: adaptive_fz(122px, 25px);
                text-transform: uppercase;
                text-align: center;
            }
            &__price {
                font-size: adaptive_fz(35px, 17px);
                span  {
                    font-size: adaptive_fz(18px, 10px);
                }
            }
            >img {
                position: absolute;
                top: 31%;
                left: calc(50% - 0.45 * 45%);
                width: 45%;
            }
            a {
                position: absolute;
                right: 5vw;
                bottom: 3.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5vw;
                min-width: 40px;
                height: calc(0.75 * 5vw);
                min-height: 30px;
                img {
                    width: 66%;
                    height: 66%;
                }
            }
        }
        @media screen and (min-width: 1440px) {
            .about {
                &__article {
                    font-size: 122px;
                }
            }     
        }
    }
    .popular-products {
        @include popular-products;
    }
    .baner-interseason {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.85em; // 580px;
        font-size: adaptive_fz(120px, 24px);
        font-weight: 700;
        color: $contrast_color;
        background: url('../img/img-baner02.jpg') center/cover no-repeat;
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            min-width: 250px;
            &__text {
                font-size: adaptive_fz(40px, 17px);
                text-transform: uppercase;
            }
            // &__discount {}
        }
        @media screen and (min-width: 1440px) {
            font-size: 120px;
            .title{
                &__text {
                    font-size: 40px;
                }
            }
        }
    }
    .story-one {
        display: flex;
        margin-bottom: 4em;
        font-family: 'Roboto', sans-serif;
        font-size: adaptive_fz(46px, 15px);
        font-weight: 700;
        &__pic {
            display: flex;
            align-items: center;
            width: 40%;
            img {
                position: relative;
                left: 10%;
                top: 10%;
                z-index: 5;
                width: 100%;
                display: block;
            }
        }
        &__text {
            width: 60%;
            padding-right: 0.5em;
            line-height: 1em;
            color: $grey_color_light;
            p:nth-child(2) {
                color: $main_color;
            }
        }
        @media screen and (min-width: 1440px) {
            font-size: 46px;
        }
        @media screen and (max-width: 575px) {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 2em;
            &__pic {
                width: 60%;
                img {
                    left: 0%;
                    top: 0%;
                }
            }
            &__text {
                width: 75%;
                text-transform: uppercase;
                p {
                    margin-bottom: 1.5em;
                    line-height: normal;
                }
            }
        }
    }
    .story-two {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.5em;
        font-size: adaptive_fz(14px, 12px);
        font-weight: 400;
        color: $grey_color_dark;
        .col-big {
            width: 58%;
            &__pic {
                img {
                    width: 100%;
                    display: block;
                    &:last-of-type {
                        display: none;
                    }
                }
            }
            &__numbers {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 30em;
                padding-left: 6.5vw;
                >div {
                    &:last-child {
                        display: none;
                    }
                    >div:first-child {
                        font-size: adaptive_fz(70px, 20px);
                        font-weight: 600;
                        color: $main_color;
                        text-transform: uppercase;
                        span {
                            font-size: 0.5em;
                        }
                    }
                }
            }
        }
        .col-small {
            display: flex;
            flex-direction: column;
            width: 32%;
            &__text {
                flex-grow: 1;
                display: flex;
                align-items: center;
                line-height: 1.7em;
                div {
                    span {
                        font-weight: 700;
                        color: $main_color;
                    }
                }
            }
            &__pic {
                img {
                    width: 100%;
                    display: block;
                    &:last-of-type {
                        display: none;
                    }
                }
            }
        }
        @media screen and (min-width: 1440px) {
            .col-big {            
                &__numbers {
                    >div {
                        >div:first-child {
                            font-size: 70px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 575px) {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 3em;
            .col-big {
                width: 60%;
                &__pic {
                    img:first-of-type {
                        display: none;
                    }
                    img:last-of-type {
                        display: block;
                    }
                }
                &__numbers {
                    height: unset;
                    padding: 0;
                    text-align: center;
                    >div {
                        margin-top: 2.5em;
                        &:last-child {
                            display: block;
                        }
                    }
                }
            }
            .col-small {
                width: 90%;
                flex-direction: column-reverse;
                &__pic {
                    img:first-of-type {
                        display: none;
                    }
                    img:last-of-type {
                        display: block;
                    }
                }
                &__text {
                    width: 80%;
                    margin: 2.5em auto;
                }
            }
        }
    }
    .map {
        position: relative;
        margin-bottom: 1em;
        font-size: adaptive_fz(70px, 20px);
        font-weight: 600;
        &__numbers {
            position: absolute;
            top: calc(0% - 0.33 * (2 * 3vw + 1.15 * adaptive_fz(70px, 20px)));
            left: 3vw;
            display: flex;
            align-items: center;
            width: 40%;
            padding: 3vw 4vw;
            color: $contrast_color;
            background-color: $main_color;
            span {
                &:first-child {
                    margin-right: 4vw;
                }
                &:last-child {
                    font-size: adaptive_fz(14px, 8px);
                    font-weight: 400;
                    color: $grey_color;
                }
            }
        }
        &__pic {
            img {
                display: block;
                width: 100%;
            }
        }
        @media screen and (min-width: 1440px) {
            font-size: 70px;
        }
        @media screen and (max-width: 575px) {
            &__numbers {
                display: none;
            }
            &__pic {
                height: 13em;
                background: url('../img/map.svg') 70% 40%/275% no-repeat;
                img {                
                display: none;
                }
            }
        }
    }
    .quote {
        width: 50%;
        min-width: 300px;
        margin: 0 auto 6em;
        font-size: adaptive_fz(20px, 12px);
        font-weight: 400;
        text-align: center;
        &__text {
            margin-bottom: 3.5em;
            line-height: 1.5em;
            color: $grey_color_dark;
            p:first-child::before {
                display: block;
                width: 2.5em;
                height: 2.5em;
                margin: 0 auto 1.25em;
                content: '';
                background: url('../img/svg/quotes.svg') center/contain no-repeat;
            }
        }
        &__author {
            font-size: adaptive_fz(14px, 9px);
            font-weight: 700;
            color: $main_color;
            .author__logo {
                width: 12.5vw;
                min-width: 150px;
                margin: 0 auto 1em;
                img {
                    width: 100%;
                    height: 100%;
                    display: block; 
                }
            }
            .author__date {
                text-transform: uppercase;
            }
        }
        @media screen and (max-width: 991px) {
            width: 75%;
            margin-bottom: 3.5em;
        }
    }
}